body {
    background: #fff;
    font-family: "Comfortaa", sans-serif;
    position: relative;
  }
  
  footer {
    text-align: center;
    padding: 1em;
    max-width: 80px;
    position: fixed;
    top: 0;
    right: 25px;
  }
  
  footer a {
    text-decoration: none;
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: transparent;
    border: 1px dashed #fff;
    color: #fff;
    margin: 5px;
  }
  
  footer a:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  
  footer a .icons {
    margin-top: 12px;
    display: inline-block;
    font-size: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .main-content {
    display: flex;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    height: 100vh;
    padding-top: 80px;
    overflow-y: auto;
  }
  
  .hover,
  .word,
  .image-text {
    cursor: pointer;
  }
  
  .image-text {
    position: relative;
    color: #fff;
    font: 900 60px Montserrat;
    text-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }
  
  .concept {
    position: relative;
    padding: 5em;
    height: 80vh;
    overflow: hidden;
    scroll-snap-align: center;
  }
  
  .concept::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(rgba(0, 0, 0, 0.3), transparent);
    opacity: 0;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .concept:hover::before {
    opacity: 0.5;
  }
  
  /* concept two */
  .concept-two {
    width: 100vw;
    display: flex;
    padding: 5em 15em;
    background: url(https://meowlivia.s3.us-east-2.amazonaws.com/codepen/background/forest.jpg) center center / cover;
    background-size: cover;
    background-position: center;
  }
  
  .concept-two .hover {
    position: relative;
    display: flex;
    place-items: center;
  }
  
  .concept-two h1 {
    display: flex;
    color: transparent;
    text-align: center;
    -webkit-text-stroke: 2px #fff;
    text-shadow: none;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .concept-two .hover:hover h1 {
    transform: scale(1.5);
    color: #fff;
    -webkit-text-stroke: 2px transparent;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  /* concept-five */
  .concept-five {
    background: url(https://meowlivia.s3.us-east-2.amazonaws.com/codepen/background/mountains.jpg) center center / cover;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    width: 100vw;
  }
  
  .concept-five .word {
    width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
  }
  
  .concept-five .word:hover .char:nth-child(even) {
    top: 20px;
  }
  
  .concept-five .word:hover .char:nth-child(odd) {
    top: -20px;
  }
  
  .concept-five .char {
    flex: 1;
    position: relative;
    display: inline-block;
    top: 0;
    transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  /* concept-six */
  .concept-six {
    width: 100vw;
    display: flex;
    align-items: center;
    background: url(https://meowlivia.s3.us-east-2.amazonaws.com/codepen/background/beach.jpg) top right / cover;
  }
  
  .concept-six .word {
    width: 550px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
  }
  
  .concept-six .word:hover .char:nth-child(1) {
    margin-top: -30px;
    transform: rotate(-20deg);
  }
  
  .concept-six .word:hover .char:nth-child(2) {
    margin: -40px 0px 0 10px;
    transform: rotate(5deg);
  }
  
  .concept-six .word:hover .char:nth-child(3) {
    margin: 15px 0 0 10px;
    transform: rotate(12deg);
  }
  
  .concept-six .word:hover .char:nth-child(4) {
    margin: -25px 0 0;
    transform: rotate(5deg);
  }
  
  .concept-six .word:hover .char:nth-child(5) {
    margin: -40px 5px 0;
    transform: rotate(-10deg);
  }
  
  .concept-six .char {
    flex: 1;
    transition: 0.3s ease-in-out;
    position: relative;
  }
  
  /* concept-eight */
  .concept-eight {
    width: 100vw;
    background: url(https://meowlivia.s3.us-east-2.amazonaws.com/codepen/background/falls.jpg) center center / cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .concept-eight .word {
    display: flex;
    align-items: center;
    justify-items: center;
    width: 450px;
    height: 80%;
  }
  
  .concept-eight .word:hover .char::before {
    transition: 0.6s ease;
    color: rgba(255, 255, 255, 0.8);
    animation: falls 1s ease forwards;
  }
  
  .concept-eight .word:hover .char:nth-child(1)::before {
    animation: falls 0.9s ease 0.2s forwards;
  }
  
  .concept-eight .word:hover .char:nth-child(2n+3)::before {
    animation: falls 1s ease 0.3s forwards;
  }
  
  .concept-eight .char {
    flex: 1;
    position: relative;
  }
  
  .concept-eight .char::before {
    content: attr(data-content);
    position: absolute;
    top: 0;
    color: transparent;
    text-shadow: none;
  }
  
  @keyframes falls {
    0% {
      opacity: 0;
      top: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: 100px;
    }
  }
  
  #app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .main-content > div {
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
  }
  
  .main-content > div.active {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }
  
  /* Optional: You can style inactive if needed */
  .main-content > div.inactive {
    opacity: 0;
  }
  